@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
body{
    font-family: 'Poppins', sans-serif;
}
section{
   display: block;
   
}
.top-bannar{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.title{
    background-position: left;
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 100px;
}
.top-bannar .title h1{
    font-size: 70px;
    margin-left: 40px;
}
.top-bannar .title a{
    text-decoration: none;
    color: azure;
    background-color: chocolate;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 60px;
}
.top-bannar .title a:hover {
     background-color: darkgoldenrod;
}
.fa-arrow-right{
    color: black;
}
.top-bannar img{
    width: 500px;
    margin-top: 70px;
    margin-right: 40px;
}
.bannar{
    transition: width 10s, height 5s, transform 3s;
}
.top-bannar .bannar:hover{
    transform: scale(0.20) rotate(-360deg);
}

/* ---------------Players Description -------- */

.players{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
   grid-row-gap: 20px;
  margin-left: 120px;
   margin-top: 30px;
   margin-right: 10px;
   
}

.player {
    display: flex;
    text-align: left;
    width: auto;
    justify-content:center;
    box-shadow: opx 0px 0px 10px;
}

.player-info {
    border: 4px solid rgb(240, 227, 227);
    border-radius: 10px; 
    
}

.player-info img {
    width: 280px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .player-info h3{
      margin-left: 65px;
  }
  
.player .player-info{
   
    width: 300px;
    text-align: left;
    padding: 20px;
    line-height: 20px;
    margin: 8px;
    margin-bottom: 5px;
}

/* -------------------------------6th section ---------------- */

section {
    display: block;
}
.experience-items{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.half-width{
    background-position: left;
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 100px;
}
.experience-item .half-width h1{
    font-size: 70px;
}

.experience-items .half-width .Live{
    text-decoration: none;
    color: white;
    background-color: darkorange;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.experience-items .half-width .Live:hover{
    background-color: rgb(255, 251, 0);
    color: darkblue;
}
.experience-items img{
    width: 500px;
    border-radius: 10px;
}

/* ----------------------------Logo --------------------- */
.logo{
    margin-left:250px;
}

/* ---------------------Icon ---------------------- */
.icons{
    margin-left: 610px;
    
}
.icon{
    text-decoration: none;
    color: gray;
}
.icons .icon a{
    color: gray;
    margin-left: 4px;
    margin-right: 4px;
}
.icons .icon a:hover{
   color: darkcyan;
}
